@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #f9f7f4;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 20px 40px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
	font-family: 'Ysabeau', sans-serif;
	text-decoration: none;
	font-size: 28px;
	font-weight: 600;
	color: #d63031;
}
.nav__list {
	display: flex;
	list-style: none;
	gap: 30px;
}
.nav__link {
	text-decoration: none;
	color: #555;
	font-weight: 600;
	font-size: 18px;
	transition: 0.3s color;
}
.nav__link:hover {
	color: #d63031;
}

.promo {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}
.promo__content {
	padding: 40px;
	flex: 1;
}
.promo__title {
	font-size: 48px;
	color: #2d3436;
	margin-bottom: 30px;
}
.promo__text {
	font-size: 20px;
	color: #636e72;
	margin-bottom: 20px;
}
.promo__image {
	flex: 1;
	background: #e0e0e0;
	background-image: url('icons/promo.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
}
.promo_action {
	display: flex;
	align-items: center;
	gap: 20px;
}
.button {
	padding: 15px 30px;
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s background-color;
}
.button-primary {
	background-color: #d63031;
	color: #fff;
}
.button-primary:hover {
	background-color: #c0392b;
}
.promo__icon {
	width: 48px;
}
.section {
	max-width: 1200px;
	width: 100%;
	margin: 40px auto;
	padding: 40px;
}
.section__title {
	text-align: center;
	color: #2d3436;
	font-size: 36px;
	margin-bottom: 50px;
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.card {
	background-color: #fff;
	padding: 30px 20px;
	width: 30%;
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.card_img {
	height: 250px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.card_img-1 {
	background-image: url('icons/set_1.webp');
}
.card_img-2 {
	background-image: url('icons/set_2.png');
}
.card_img-3 {
	background-image: url('icons/set_3.png');
}
.card_title {
	font-size: 24px;
	color: #2d3436;
	margin-bottom: 5px;
	font-weight: 600;
}
.card_subtitle {
	color: #d63031;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 14px;
}
.card_text {
	color: #636e72;
	font-size: 14px;
}

/* .div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center; 
	width: 1000px;
	height: 500px;
}

.div1 {
	width: 100px;
	height: 100px;
	background: #b71111;
}
.div2 {
	width: 100px;
	height: 100px;
	background: #386b14;
}
.div3 {
	width: 100px;
	height: 100px;
	background: #d42baf;
} */

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #2d3436;
	color: #fff;
	padding: 40px 20px;
	gap: 20px;
}

.footer__copyright {
	font-size: 18px;
}
.footer_links {
	display: flex;
	gap: 20px;
	list-style: none;
}
.footer__link {
	color: #dfe6e9;
	text-decoration: none;
	transition: 0.3s color;
}
.footer__link:hover {
	color: #d63031;
}
